@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at 50% 0%, #2e1065 0%, #0f172a 100%);
  /* Deep Purple to Dark Slate */
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Senior Accessibility Overrides */
input,
select,
button {
  font-size: 1.1rem !important;
}

h1,
h2,
h3,
h4 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}